<ol class="breadcrumb">
    <li><a href="#">Терминал</a></li>
    <li><a href="#scanner">Сканер</a></li>
    <li class="active">Новый тэг {{tag.rfId}}</li>
</ol>

<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            rfId: {{tag.rfId}}
        </div>
    </div>
    <div class="form-group">
        <label>
            Категория товара
            <select data-ng-options="id*1 as category.name for (id, category) in categories" data-ng-model="category.id" class="form-control">
                <option value="">-</option>
            </select>
        </label>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-md btn-info" data-ng-click="save()">Сохранить</a>
        </div>
    </div>
</div>