<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center well">
            <form name="loginForm" data-ng-submit="onSubmit()">
                <div class="form-group">
                    <label>
                        <input placeholder="imei" type="text" name="imei" data-ng-model="imei" class="form-control" autofocus="autofocus"/>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-info" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>