<ol class="breadcrumb">
    <li><a href="#">Терминал</a></li>
    <li class="active">Сканер</li>
</ol>

<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-xs-6">
            <form name="scannerForm" data-ng-submit="scan()">
                <div class="form-group" data-ng-repeat="tag in tags">

                    <input type="text" name="tag" data-ng-model="tag.rfId" class="form-control" placeholder="Идентификатор rfId"/>
                    <div data-ng-show="tag.scanned">
                        <div data-ng-show="tag.tagId > 0">
                            <a href="#tag/{{tag.tagId}}">детали</a>
                        </div>
                        <div data-ng-show="tag.tagId == 0">
                            не найдено.<a href="#tag/add/{{tag.rfId}}">добавить</a>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <a class="btn btn-md btn-default" data-ng-click="addTag()">+</a>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info" type="submit">Искать</button>
                </div>
            </form>
        </div>
    </div>
</div>