<ol class="breadcrumb">
    <li><a href="#">Терминал</a></li>
    <li><a href="#scanner">Сканер</a></li>
    <li class="active">Тэг {{tag.rfId}}</li>
</ol>

<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>
                    Выберите текущий склад
                    <select data-ng-options="id*1 as storage.name for (id, storage) in storages" data-ng-model="storage" class="form-control">
                        <option value="">-</option>
                    </select>
                </label>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-md btn-info" data-ng-click="setStorage()">Сохранить</a>
                </div>
            </div>
        </div>
    </div>
</div>