<ol class="breadcrumb">
    <li><a href="#">Терминал</a></li>
    <li><a href="#scanner">Сканер</a></li>
    <li class="active">Тэг {{tag.rfId}}</li>
</ol>

<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-xs-12">
            tag.id: {{tag.id}}
            <br/>
            tag.createTime: {{tag.createTime}}
            <br/>
            tag.rfId: {{tag.rfId}}
            <br/>
            tag.storageId: {{tag.storageId}}
            <br/>
            tag.storageName: {{tag.storageName}}
            <br/>
            category: {{tag.productInfo.category.name}}
        </div>
    </div>
</div>